*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
.app__heading{
  text-align: center;
}
.app__containerOne{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.app__containerTwo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}